form {
  max-width: 400px;
  margin: 20px auto;
  margin-top: 40px;
  padding: 50px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(59, 40, 52, 0.5);
  background-image: "";
}

label {
  display: block;
  margin-bottom: 8px;
}

form label {
  color: white;
  font-size: 18px;
}

div,input[type="text"], input[type="password"], button {
  width: 100%;
}

button {
  cursor: pointer;
  margin-top: 10px;
}

#username, #password {
  font-size: 25px;
}

#login-button {
  cursor: pointer;
  margin-top: 10px;
  background-color:rgb(255, 205, 205);
  font-size: 18px;
}

#signup {
  cursor: pointer;
  margin-top: 10px;
  background-color:rgb(205, 230, 255);
  font-size: 18px;
}

