mat-sidenav-container {
  height: 100vh;
  background: url("https://img.freepik.com/vecteurs-libre/fond-peint-aquarelle-pastel_23-2148959637.jpg?w=826&t=st=1705833740~exp=1705834340~hmac=d723c7b59cf41012759873046a3f6dc21b61c49474ce28b055acaf009fdf4ebb")no-repeat center center;
  background-size: cover;
}

.spacer{
    flex: 1 1 auto;
}

.user-button {
  margin-right: 20px;
}

mat-toolbar {
  background: linear-gradient(to right, darkblue, mediumvioletred, white);
  color: white;
}

mat-sidenav {
  background-color:white;
}

.sidenav-item:hover {
  background-color: mediumvioletred;
}

.sidenav-item:hover a {
  color: white;
}



