<form (ngSubmit)="login()">
    <label for="username">Username:</label>
    <input type="text" id="username" [(ngModel)]="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="password" name="password" required>

    <button style="margin-left: 10px;" type="submit">Login</button>
    <button id="signup" mat-button routerLink="/signup" type="button">Sign up</button>

    <!-- Bouton pour créer un compte, redirige vers la page d'inscription -->
</form>


