<form (ngSubmit)="login()">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" [(ngModel)]="username" name="username" required>
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="password" name="password" required>
  </div>

  <div>
    <button mat-button id="login-button" type="submit">Login</button>
  </div>
  <div>
    <button class="button-style" id="signup" mat-button routerLink="/signup" type="button">Sign up</button>
  </div>
</form>