mat-sidenav-container {
  height: 100vh;
}

.spacer{
    flex: 1 1 auto;
}

.user-button {
  margin-right: 20px;
}

mat-toolbar {
  background: linear-gradient(to right, darkblue, mediumvioletred, white);
  color: white;
}

mat-sidenav {
  background-color:white;
}

.sidenav-item:hover {
  background-color: mediumvioletred;
}

.sidenav-item:hover a {
  color: white;
}



