<div class ="container">
    <mat-card *ngIf="assignmentTransmis">
        <mat-card-title > <img  [src]="assignmentTransmis.photoMatiere" alt="Image de la matière" class="matiere-image">{{assignmentTransmis.nom}}</mat-card-title>
        <mat-card-subtitle>{{assignmentTransmis.dateDeRendu | date}}</mat-card-subtitle>
        <mat-card-subtitle>{{assignmentTransmis.nomMatiere}}
            <img  [src]="assignmentTransmis.photoProf" alt="Image de la matière" class="prof-image">
        
        </mat-card-subtitle>
        <mat-card-subtitle>{{assignmentTransmis.note}}</mat-card-subtitle>

        <mat-card-subtitle>{{assignmentTransmis.remarques}}</mat-card-subtitle>
        



       <div id="buttom">
        <!-- <mat-checkbox   *ngIf="!assignmentTransmis.rendu"
                        (click)="onAssignementRendu()"
                        [disabled]="!authService.isLoggedIn()"
        > Devoir rendu
        </mat-checkbox> -->
        <!-- <nav><a [routerLink]="['/assignment', 1,'edit']"> -->
        <button mat-flat-button 
        color="primary"
        (click)="onClickEdit()"
        [disabled]="!authService.isLoggedIn()"
        >
             EDIT
        </button>
        <!-- </a></nav> -->
        <button mat-flat-button 
                color="warn"
                (click)="onDelete()"
                [disabled]="!isAdmin()"

        >
            DELETE
        </button>
    </div>
    </mat-card>

</div>
