.rendu{
    color:'green';
    border: 1px solid greenyellow;
    background-color: yellow;
}
.nonRendu{
    color:'red';
    border: 1px solid rebeccapurple;
    background-color: darksalmon;
}

 
 .spacer{
    flex: 1 1 auto;
}
mat-sidenav-container{
    height: calc(205vh - 115vh);
}
mat-sidenav{
    width: 270px;
    background-color: whitesmoke;
    border: 1px solid white;
}
.container {
    display: flex;
    flex-direction: column;

}
.ajouterBtn{
    align-self: flex-end;
}
